In [5]:
import pandas as pd
import json

In [4]:
#Bill1 = pd.read_csv('Bill.csv')
#Bill1

In [3]:
#kkk = pd.read_csv('Bill.csv')
#kkk.groupby('Контрагент').agg(['sum'])['Сумма'].head()

In [13]:
fff = pd.read_csv('list_no_exis_numb.csv')
fff['Numb_no_exist'].apply(str)[0]
fff['Numb_no_exist'] = fff['Numb_no_exist'].apply(str)
fff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1928 entries, 0 to 1927
Data columns (total 1 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Numb_no_exist  1928 non-null   object
dtypes: object(1)
memory usage: 15.2+ KB

In [14]:
fff[fff['Numb_no_exist'].str.find('996', 0, 4) != -1].count()

Numb_no_exist    563
dtype: int64

In [7]:
qqq = pd.read_csv('Bill.csv')
qqq['Номер Б'].apply(str)[0]
qqq['Номер Б'] = qqq['Номер Б'].apply(str)
qqq[qqq['Номер Б'].str.find('7495', 0, 3) != -1].count()

Дата            0
Время           0
Номер А         0
Номер Б         0
Контрагент      0
Длительность    0
Тариф           0
Сумма           0
dtype: int64

In [16]:
with open ('Свод по тарифам(21.10.2020)11.txt', 'r', encoding='UTF8') as tariff, open ('CDR_RAW_202012241725.csv', 'r', encoding='UTF-8') as CDR:
    next(CDR)
    next(tariff)
    tt = []
    for line_1 in CDR:
        tt.append(line_1.replace('\"', '').strip().split(';')[5])
#    print(tt)

    count111 = 0
    for g in tt:
        if g[0:3] == '996':
            count111 += 1
    print(count111)

563

In [1]:
with open ('DEF-9.csv', 'r', encoding='UTF8') as DEF:
    next(DEF)
    def tyty_(DEF):
        dict_DEF = {}
        numb_def = '0000000'
        for line_4 in DEF:
            line_4 = line_4.strip().split(';')
    #        print(line_4)  
            for line_DEF in range(int(line_4[1]), int(line_4[2])):
                yy = len(str(line_DEF))
                numb_def = numb_def[:-(yy)] + str(line_DEF)
                dict_DEF[numb_def] = line_4[4], line_4[5]
        return dict_DEF
    print(tyty_(DEF))

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [21]:
'''%%time
import pandas as pd
def main():
    with open ('Свод по тарифам(18.01.2021).txt', 'r', encoding='UTF8') as tariff, open ('CDR_RAW_202012241725.csv', 'r', encoding='UTF-8') as CDR, open ('Детализация трафика интелнет — копия.csv', 'r', encoding='UTF-8') as detail, open ('Свод по тарифам(18.01.2021) — DEF.txt', 'r', encoding='UTF-8') as DEF:
        next(CDR)
        next(tariff)
        next(detail)
        next(DEF)
        def CDR_tariff_func(CDR, tariff, detail):
            dict_1 = {}
            dict_2 = {}
            dict_4 = {}
            dict_DEF = {}
            count1 = 0
            list_numb_detail = []
            list_numb_CDR = []
            for line_1 in CDR:
                if len(line_1.replace('\"', '').strip().split(';')[5]) == 11 and line_1.replace('\"', '').strip().split(';')[5][0:2] != '77' and (line_1.replace('\"', '').strip().split(';')[5][0] == '7' or line_1.replace('\"', '').strip().split(';')[5][0] == '8'):
                    numb_CDR = list(line_1.replace('\"', '').strip().split(';')[5])
                    numb_CDR[0:1] = ''
                    numb_CDR = ''.join(numb_CDR)
                else:
                    numb_CDR = line_1.replace('\"', '').strip().split(';')[5]
                list_numb_CDR.append(numb_CDR)
                count_numb_CDR = list_numb_CDR.count(numb_CDR)
                dict_1[tuple(map(str, [numb_CDR, line_1.replace('\"', '').strip().split(';')[6], count_numb_CDR]))] = line_1.replace('\"', '').strip().split(';')[0], line_1.replace('\"', '').strip().split(';')[1], line_1.replace('\"', '').strip().split(';')[2], line_1.replace('\"', '').strip().split(';')[3], line_1.replace('\"', '').strip().split(';')[4], line_1.replace('\"', '').strip().split(';')[7]
            
            for line_2 in tariff:
                dict_2[tuple(map(str, [line_2.strip().split(';')[0], line_2.strip().split(';')[4]]))] = line_2.strip().split(';')[1], line_2.strip().split(';')[2], line_2.strip().split(';')[3], line_2.strip().split(';')[4], line_2.strip().split(';')[5], line_2.strip().split(';')[6], line_2.strip().split(';')[7], line_2.strip().split(';')[8]
            for line_3 in detail:
                count1 += 1
                if line_3.strip().split(';')[3][0:2] == '10':
                    numb_detal = list(line_3.strip().split(';')[3])
                    numb_detal[0:2] = ''
                    numb_detal = ''.join(numb_detal)
                else:
                    numb_detal = line_3.strip().split(';')[3]
                list_numb_detail.append(numb_detal)
                count_numb_detail = list_numb_detail.count(numb_detal)
                dict_4[tuple(map(str, [numb_detal, count_numb_detail]))] = line_3.strip().split(';')[0], line_3.strip().split(';')[1], line_3.strip().split(';')[2], line_3.strip().split(';')[4], line_3.strip().split(';')[5], line_3.strip().split(';')[6], line_3.strip().split(';')[7]
            for line_4 in DEF:
                dict_DEF[tuple(map(str, [line_4.strip().split(';')[0], line_4.strip().split(';')[1], line_4.strip().split(';')[5]]))] = line_4.strip().split(';')[2], line_4.strip().split(';')[3], line_4.strip().split(';')[4], line_4.strip().split(';')[6], line_4.strip().split(';')[7], line_4.strip().split(';')[8], line_4.strip().split(';')[9]
            return {'dict_1':dict_1, 'dict_2':dict_2, 'dict_4':dict_4, 'dict_DEF':dict_DEF}
        CDR_tariff_func1 = CDR_tariff_func(CDR, tariff, detail)
        def list_final(CDR_tariff_func1):
            result = {}
            for numb_key, numb_val in CDR_tariff_func1['dict_1'].items():
                try:
                    result.setdefault('Направление',[]).append(CDR_tariff_func1['dict_4'][(numb_key[0], numb_key[2])][3])
                    result.setdefault('Длительность из детализации',[]).append(CDR_tariff_func1['dict_4'][(numb_key[0], numb_key[2])][4])
                    result.setdefault('Тариф из детализации',[]).append(CDR_tariff_func1['dict_4'][(numb_key[0], numb_key[2])][5])                    
                    result.setdefault('Сумма из детализации',[]).append(float(CDR_tariff_func1['dict_4'][(numb_key[0], numb_key[2])][6].replace(',', '.')))
                    result.setdefault('Номер Б из детализации',[]).append(numb_key[0])
                except KeyError:
                    result.setdefault('Направление',[]).append('NAN')
                    result.setdefault('Длительность из детализации',[]).append('NAN')
                    result.setdefault('Тариф из детализации',[]).append('NAN')
                    result.setdefault('Сумма из детализации',[]).append('NAN')
                    result.setdefault('Номер Б из детализации',[]).append(numb_key[0])
                ggg = []
                for index_numb_key in range(len(numb_key[0]), 0, -1):
                    t = list(numb_key[0][0:index_numb_key].split())
                    t.insert(1, numb_key[1])                                             
                    t = tuple(t)
                    if len(ggg)==0 and t in tuple(CDR_tariff_func1['dict_2'].keys()):
                        ggg.append(index_numb_key)
                        result.setdefault('Дата',[]).append(numb_val[0])
                        result.setdefault('Время',[]).append(numb_val[3])
                        result.setdefault('Номер А',[]).append(numb_val[4])           
                        result.setdefault('Номер Б',[]).append(numb_key[0])
                        result.setdefault('Контрагент',[]).append(numb_key[1])
                        result.setdefault('Длительность',[]).append(numb_val[5])  
                        result.setdefault('Тариф',[]).append(CDR_tariff_func1['dict_2'][t][2].replace(',', '.'))
                        result.setdefault('Сумма',[]).append(round(float(CDR_tariff_func1['dict_2'][t][2].replace(',', '.'))*float(numb_val[5]), 2))
                    else:
                        for numb_key_DEF, numb_val_DEF in CDR_tariff_func1['dict_DEF'].items():
                            if (int(numb_key_DEF[0]) < int(t[0]) < int(numb_key_DEF[1])) and t[1] == numb_key_DEF[2]:
                                t = (numb_key_DEF[0] +','+ numb_key_DEF[1] + ',' + numb_key_DEF[2]).split(',')
                                t = tuple(t)
                                result.setdefault('Дата',[]).append(numb_val[0])
                                result.setdefault('Время',[]).append(numb_val[3])
                                result.setdefault('Номер А',[]).append(numb_val[4])           
                                result.setdefault('Номер Б',[]).append(numb_key[0])
                                result.setdefault('Контрагент',[]).append(numb_key[1])
                                result.setdefault('Длительность',[]).append(numb_val[5])  
                                result.setdefault('Тариф',[]).append(CDR_tariff_func1['dict_DEF'][t][2].replace(',', '.'))
                                result.setdefault('Сумма',[]).append(round(float(CDR_tariff_func1['dict_DEF'][t][2].replace(',', '.'))*float(numb_val[5]), 2))
            return result
        fff = list_final(CDR_tariff_func1)
        def to_frame(fff):  
            df1 = pd.Series([],dtype=pd.StringDtype())
            df1 = pd.Series(fff['Дата'], name='Дата')
            df2 = pd.Series(fff['Время'], name='Время')
            df3 = pd.Series(fff['Номер А'], name='Номер А')
            df4 = pd.Series(fff['Номер Б'], name='Номер Б')
            df5 = pd.Series(fff['Длительность'], name='Длительность')
            df6 = pd.Series(fff['Контрагент'], name='Контрагент')
            df7 = pd.Series(fff['Тариф'], name='Тариф')
            df8 = pd.Series(fff['Сумма'], name='Сумма')
            df9 = pd.Series(fff['Направление'], name='Напраление')
            df10 = pd.Series(fff['Длительность из детализации'], name='Длительность из детализации')
            df11 = pd.Series(fff['Тариф из детализации'], name='Тариф из детализации')
            df12 = pd.Series(fff['Сумма из детализации'], name='Сумма из детализации')
            df13 = pd.Series(fff['Номер Б из детализации'], name='Номер Б из детализации')
            df = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13], axis=1)
            df.to_excel('Billing_detail.xlsx', 'Sheet1', index=False)
        to_frame(fff)
main()

Wall time: 1min 20s

In [6]:
import mysql.connector
from mysql.connector import Error
import pandas as pd
import json
import time
from datetime import date
from datetime import datetime
import time

def create_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database=db_name
        )
        print("Connection to MySQL DB successful")
    except Error as e:
        print(f"The error '{e}' occurred")

    return connection

In [7]:
mydb = create_connection("10.10.10.250", "dzhalilovd", "ROhaproD", "CCM_BILLING")

Connection to MySQL DB successful

In [7]:
query = '''select DST_NUMBER_IN as 'Проект', DATE(SETUP_TIME) as '.Дата', CONNECT_TIME, DISCONNECT_TIME, TIME(SETUP_TIME) as '.Время',
           SRC_NUMBER_OUT as 'Номер А', DST_NUMBER_OUT as 'Номер Б', DST_NAME as 'Контрагент',
           ROUND(TIMESTAMPDIFF(SECOND, CONNECT_TIME, DISCONNECT_TIME)/60, 2) as 'Длительность' 
           from CCM_BILLING.CDR_RAW as r WHERE r.SETUP_TIME between '2021-01-01 00:00:00' and '2021-01-31 23:59:59'
           AND DST_NUMBER_IN LIKE '%#%' AND DST_NAME LIKE 'GW_INTELLIN' AND CONNECT_TIME > 0'''

query_test = '''select *
               from CCM_BILLING.CDR_RAW as r WHERE r.SETUP_TIME between '2021-01-01 00:00:00' and '2021-01-31 23:59:59'
               AND DST_NUMBER_IN LIKE '2359#%' AND CONNECT_TIME > 0 '''


df_intel_jan = pd.read_sql_query(query, con = mydb)

In [8]:
df_intel_jan.to_csv('Интеллин январь 2021.csv', sep=';', encoding='utf-8', index = False)

In [8]:
df_intel_jan = pd.read_csv('Интеллин январь 2021.csv', 'r', delimiter = ';', dtype = {'Номер А':'int64', 'Номер Б':'int64', 'Контрагент':'str', 'Длительность':'float64'}, parse_dates = ['.Дата', '.Время'])
df_intel_jan = df_intel_jan.iloc[:, [1,4,5,6,7,8]]

In [576]:
df_intel_jan['.Время'] = df_intel_jan['.Время'].str[7:15].copy()

In [567]:
df_intel_jan1 = df_intel_jan.copy()

In [568]:
df_intel_jan2['Номер Б'] = df_intel_jan1.loc[(df_intel_jan1['Номер Б'].astype(str).str.len() == 11) & (df_intel_jan1['Номер Б'].astype(str).str[0:2] != '77') & (df_intel_jan1['Номер Б'].astype(str).str[0:1] == '7'), 'Номер Б'] = df_intel_jan1['Номер Б'].astype(str).str.replace('^\d{1}', '').copy()

In [8]:
df_intel_jan2.head()

In [572]:
df_intel_jan3 = df_intel_jan1.loc[(df_intel_jan1['Номер Б'].astype(str).str.len() == 11)].copy()

In [9]:
df_intel_jan3.head()

In [5]:
#df_intel_jan = pd.read_csv('Интеллин январь 2021.csv', 'r', delimiter = ';', dtype = {'Номер А':'int64', 'Номер Б':'int64', 'Контрагент':'str', 'Длительность':'float64'}, parse_dates = ['.Дата', '.Время'])
#df_intel_jan = df_intel_jan.assign(count_numb_CDR=df_intel_jan.groupby(['Номер Б']).cumcount()+1)
#df_intel_jan = df_intel_jan.iloc[:, [0,1,4,5,6,7,8,9]]
#df_intel_jan['.Время'] = df_intel_jan['.Время'].str[7:15].copy()
#df_intel_jan1 = df_intel_jan.copy()
#df_intel_jan1['Номер Б'] = df_intel_jan1.loc[(df_intel_jan1['Номер Б'].astype(str).str.len() == 11) & (df_intel_jan1['Номер Б'].astype(str).str[0:2] != '77') & (df_intel_jan1['Номер Б'].astype(str).str[0:1] == '7'), 'Номер Б'] = df_intel_jan1['Номер Б'].astype(str).str.replace('^\d{1}', '').copy()
#df_intel_jan1.loc[df_intel_jan1['Номер Б'].astype(str).str.len() == 10, 'Группа направлений'] = 'РФ'
#df_intel_jan1.loc[df_intel_jan1['Номер Б'].astype(str).str.len() != 10, 'Группа направлений'] = 'не РФ'
#dict_1 = df_intel_jan1.set_index(['Номер Б', 'Контрагент', 'count_numb_CDR']).T.to_dict('list')
#dict_1
#rrr.keys()

In [6]:
#df_tariff = pd.read_csv('Свод по тарифам(18.01.2021) — копия.txt', 'r', delimiter = ';', dtype = {'Код1':'int64', 'Код2':'int64', 'Контрагент':'str'})
#df_tariff = df_tariff.iloc[:, [0,2,3,4,5,6,7,8,9,10]]
#df_tariff.info()
#dict_2 = df_tariff.set_index(['Код1', 'Контрагент', 'Группа направлений']).T.to_dict('list')
#dict_2

In [7]:
#df_detail = pd.read_csv('Свод по тарифам(18.01.2021) — DEF.txt', 'r', delimiter = ';')
#dict_DEF = df_detail.set_index(['Код1', 'Код2', 'Контрагент']).T.to_dict('list')
#dict_DEF

In [ ]:
df1 = pd.DataFrame({"user_id":[1,2,3], "rating":[10, 15, 20]})
df2 = pd.DataFrame({"user_id":[3,4,5], "rating":[30, 35, 40]})
df4 = df[['user_id', 'rating_1']].rename(columns={'rating_1':'rating'})
df = pd.merge(df1, df2, on='user_id', suffixes=['_1', '_2'])
df3 = df[['user_id', 'rating_1']].rename(columns={'rating_1':'rating'})
df4 = df[['user_id', 'rating_2']].rename(columns={'rating_2':'rating'})
pd.concat([df3, df4], axis=0) user_id rating 0 3 20 0 3 30

In [278]:
df1 = pd.DataFrame({"user_id":[1,2,3], "rating":[10, 15, 20]})
df2 = pd.DataFrame({"user_id":[3,4,5], "rating":[30, 35, 40]})

In [296]:
df1

   user_id  rating
0        1      10
1        2      15
2        3      20

In [297]:
df2

   user_id  rating
0        3      30
1        4      35
2        5      40

In [298]:
df = pd.merge(df1, df2, on='user_id', suffixes=['_1', '_2'])
df

   user_id  rating_1  rating_2
0        3        20        30

In [294]:
df4 = df[['user_id', 'rating_1']].rename(columns={'rating_1':'rating'})
df4 = df[['user_id', 'rating_2']].rename(columns={'rating_2':'rating'})
df4

   user_id  rating
0        3      30

In [295]:
df3 = df[['user_id', 'rating_1']].rename(columns={'rating_1':'rating'})
df3

   user_id  rating
0        3      20